@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html
{
    font-size: 16px;
}
    body
    {
     overflow-x: hidden;
     font-family: 'Montserrat', sans-serif;
          background:url('../images/uni.png');
     background-repeat: no-repeat;
     background-size:100vw 106vh;
       
    } 
 
 
 @media only screen and (max-width: 500px)     
 {
    
    #header
    {
        display: flex;
        background-color: #235EFF;
        padding: 1vh;
        align-items: center;
        justify-content: center;
    }
    #logo
 {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2rem;
     color: white;
     font-family: 'Poppins', sans-serif;
 }
 #logo img
 {
     width: 75px;
     height: 75px;
     margin-right:20px;
 }
 #login
 {
     height: 85vh;
     display: flex;
     justify-content:center;
     align-items: center;
 }
 .card
 {
     width: 250px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     background-color:rgba(200,200,200,.3);
     backdrop-filter: blur(15px);
     box-shadow: 5px 5px 10px white;
     border:2px solid white;
 }
 .card input
 {
     background:transparent;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 1px solid white;
     color:white;
     
 }
 .card span
 {
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
 }
 .card button
 {
     background:transparent;
     border: 1px solid white;
     border-radius: 20px;
     width: 200px;
     font-family: 'Poppins', sans-serif;
 }
 .card a
 {
     text-decoration: none;
     color: white;
     cursor: pointer;
     
 }
 .card a:hover
 {
     text-decoration: underline;
     font-weight: bold;

     color: #235EFF;
     cursor: pointer;
 }
    
 
 }
 

 
    
    
 
 
 @media only screen and (min-width: 501px)     
 {

    #header
    {
        display: flex;
        background-color: #235EFF;
        padding: 1vh;
        align-items: center;
        justify-content: center;
    }
    #logo
 {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2.5rem;
     color: white;
     font-family: 'Poppins', sans-serif;
 }
 #logo img
 {
     width: 75px;
     height: 75px;
     margin-right:20px;
 }
 #login
 {
     height: 85vh;
     display: flex;
     justify-content:center;
     align-items: center;
 }
 .card
 {
     width: 350px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 25px;
     background-color:rgba(200,200,200,.3);
     backdrop-filter: blur(15px);
     box-shadow: 5px 5px 10px white;
     border:2px solid white;
 }
 .card input
 {
     background:transparent;
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 1px solid white;
     color:white;
     
 }
 .card span
 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
 }
 .card button
 {
     background:transparent;
     border: 1px solid white;
     border-radius: 20px;
     width: 250px;
     font-family: 'Poppins', sans-serif;
 }
 .card a
 {
     text-decoration: none;
     color: white;
     cursor: pointer;
     
 }
 .card a:hover
 {
     text-decoration: underline;
     font-weight: bold;

     color: #235EFF;
     cursor: pointer;
 }
 
 }
 

 
 






